<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>siema</title>
</head>
<body>
        <header>to jest nygger z kontrolera</header>
    <main>to jest czesc gowna</main>
    <footer>stopki</footer>
</body>
</html>